.App {
	text-align: center;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.next-btn {
	padding: 1rem 5rem;
	font-size: 2rem;
	border-radius: 1rem;
	margin-bottom: 5rem;
	background: #007ba7;
}
.next-btn:hover,
.next-btn:focus {
	background: rgba(164, 189, 230, 0.9);
	outline: none;
}
